<!-- <p>register works!</p>
<div class="form-container">
  <h2>Community Registration</h2>

  <input [(ngModel)]="name" placeholder="Full Name" />
  <input [(ngModel)]="flatNo" placeholder="Flat Number (e.g., A-101)" />
  <input [(ngModel)]="phone" placeholder="Phone Number" type="tel" />

  <button (click)="register()">Register</button>

  <p class="message">{{ message }}</p>
  <p>
    Already registered? <a routerLink="/login">Login here</a>
  </p>
</div> -->



<div class="auth-container">
  <h2>Create Account</h2>

  <input [(ngModel)]="name" type="text" placeholder="Full Name" />
  <input [(ngModel)]="flatNo" type="text" placeholder="Flat Number (e.g., A-203)" />
  <input [(ngModel)]="phone" type="text" placeholder="Phone Number" />
  <input [(ngModel)]="password" type="password" placeholder="Password" />

  <button (click)="register()">Register</button>

  <p *ngIf="error" class="error">{{ error }}</p>

  <p class="switch-text">
    Already have an account? <a routerLink="/login">Login here</a>
  </p>
</div>
